:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);

  --color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);

  --fb-size: 18px;

  --ff-outfit: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-medium: 400;
  --fw-bold: 600;

  --pd-size: 1.3rem;
}

body {
  background-color: var(--color-very-dark-blue-main-bg);
  font-family: var(--ff-outfit);
  font-weight: var(--fw-regular);
  margin: 1.2rem;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

article {
  padding: var(--pd-size);
  background-color: var(--color-very-dark-blue-card-bg);
  border-radius: 15px;
  display: grid;
  gap: 1rem;
  max-width: 350px;
}

article picture {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
article picture span {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: hsla(178, 100%, 50%, 0.418);
  transition: all 0.3s ease;
  opacity: 0;
}
article picture:hover span {
  display: flex;
  opacity: 1;
}
.details {
  display: grid;
  gap: 1rem;
}
article .details h1 {
  color: var(--color-white);
  cursor: pointer;
  transition: 0.3s;
}
article .details h1:hover {
  color: var(--color-cyan);
}
article .details p {
  color: var(--color-soft-blue);
}
article .details .price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
article .details .price div {
  display: flex;
}
article .details .price div p {
  margin-left: 10px;
}
article .details .price div:last-child img {
  width: 25px;
  height: 25px;
}
article .details .price div:last-child {
  justify-content: end;
  font-weight: var(--fw-medium);
}
article .details .price div:first-child img {
  width: 15px;
  height: 25px;
}
article .details .price div:first-child p {
  font-weight: var(--fw-bold);
  color: var(--color-cyan);
}
.footer {
  display: flex;
  align-items: center;
  color: var(--color-soft-blue);
  gap: 1rem;
}
.footer p {
  font-weight: var(--fw-medium);
}
.footer span {
  color: var(--color-white);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: 0.3s;
}
.footer span:hover {
  color: var(--color-cyan);
}
.footer img {
  width: 40px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}
